/* inline- takes only the space required by the elements.(NO MARGIN/PADDING)

 block-TAKES FULL SPACE AVAILABLE IN WIDTH

 inline-block-SIMILAR TO INLINE BUT WE CAN SET MARGIN & PADDING.

 none- TO REMOVE ELEMENT FROM DOCUMENT FLOW */

h1 {
  background: antiquewhite;
  display: inline;
}
button {
  display: block;
  color: aqua;
  background-color: beige;
}
